<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= " Job as a " + job.title %>">
    <meta name="twitter:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <meta property="og:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <title>
        <%= job.title %>
    </title>
    <link href="/css/chunk-48b24039.6d139aaa.css" rel="prefetch">
    <link href="/css/chunk-56a8e4be.cfc5dc03.css" rel="prefetch">
    <link href="/css/chunk-e8482afc.f385893d.css" rel="prefetch">
    <link href="/js/chunk-48b24039.42b080aa.js" rel="prefetch">
    <link href="/js/chunk-56a8e4be.67dbd32d.js" rel="prefetch">
    <link href="/js/chunk-71d5be9e.f4341417.js" rel="prefetch">
    <link href="/js/chunk-e8482afc.480874d7.js" rel="prefetch">
    <link href="/css/app.4e32e7c2.css" rel="preload" as="style">
    <link href="/js/app.e4d7cba4.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.118e16b2.js" rel="preload" as="script">
    <link href="/css/app.4e32e7c2.css" rel="stylesheet">
</head>

<body>
    <h4>Job Title: <%= job.title %>
    </h4>
    <p>Location: <%= job.location %>
    </p>
    <p>Company : <%= job.company %>
    </p>
    <p>Type : <%= job.type %>
    </p>
    <ul>
        <% job.keywords.forEach(keyword=> { %>
            <li>
                <p>
                    <%= keyword %>
                </p>
            </li>
            <% }); %>
    </ul>
    <ul>
        <% job.ctgs.forEach(ctg=> { %>
            <li class="ctg-item">
                <p>
                    <%= ctg.name %>
                </p>
            </li>
            <% }); %>
    </ul>

    <div id="app"></div>
    <script src="/js/chunk-vendors.118e16b2.js"></script>
    <script src="/js/app.e4d7cba4.js"></script>

</body>

</html>